body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(43, 224, 7, 0.219);
}

.main_hidden_text{
  padding: 20px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(108, 159, 255, 0.432);
  border: 5px dashed rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  font-size: 18px;
  font-size: 1.3em;
}

.star{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
  
.aablock{
  font-size: 0.9em;
}

.display_none{display: none;}
