body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 0, 0, 0.384);
}
.main_rnd{
  padding: 0;
  margin: 0;
  width: 200px;
  height: 150px;
  background-color: rgba(253, 253, 83, 0.699);
  border: 4px solid rgba(14, 1, 199, 0.582);
  border-radius: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title_rnd{
  margin: 12px auto;
  font-size: 22px;
  line-height: 20px;
}

.number_rnd{
  font-size: 35px;
  margin: 14px auto;
}
