body {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(0deg, rgb(0, 0, 0), rgb(107, 107, 107));

}
main{
  width: 100vw;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container {
  width: 602px;
  height: 602px;
  border: 1px solid white;
  position: relative;
}

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.box h3{
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
  font-size: 5em;
  color: white;
  z-index: -1;
}

h2 {
  position: absolute;
  font-size: 5em;
  top: 185px;
  left: 100px;
  z-index: 2;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.486);
}

.startBtn {
  padding: 0em 0.1em;
  font-size: 7em;
  border-radius: 5px;
  color: rgb(88, 255, 241);
  line-height: 1em;
  outline: none;
  background: rgb(46, 46, 46);
}

.square {
  width: 60px;
  height: 60px;
  position: absolute;
}