
body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 221, 252, 0.781);
}

p{margin: 0;}

.main_tab_list{
  width: 500px;
  height: 260px;
  display: grid;
  grid-template-columns: 100px 1fr;
  grid-template-rows: 1fr;
  border: 2px solid #597BA0;
  border-radius: 24px;
}

.left{
  background-color: #597BA0;
  border-radius: 20px;
  padding-right: 3px;
}

.right{
  padding: 17px 20px 5px 15px;
  font-size: 1.2em;
}

ul{
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  list-style-position: inside;
}

.left ul>li{
  margin: 0;
  padding: 0;
  width: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  color: white;
}

.star{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}
  
.aablock{
  font-size: 0.9em;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
}

.checked{background-color: #4873A1;}

.display_none{display: none;}
